# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Local development settings
local_settings.py

# System Files
.DS_Store
Thumbs.db 